@import "../../shared/themes/theme-default";

.date {
  &-container {
    align-items: center;
    box-shadow: inset 0 0 1px $color-alabaster;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  &-container:hover &-number {
    background-color: $color-onyx-light;
    color: $color-alabaster;
  }

  &-number {
    border-radius: 100%;
    color: $color-alabaster-dark;
    margin-top: 10px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
  }

  &-eventsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 90%;
  }

  &-event {
    margin-top: 5px;
    text-overflow: ellipsis;
  }
}

.inDisplayMonth {
  color: $color-alabaster;
}

.isCurrentDate {
  background-color: $color-tea-green;
  color: $color-onyx;
}
