@import "src/app/shared/themes/theme-default";

.date {
  &-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  &-number {
    color: $color-alabaster-dark;
  }
}

.inDisplayMonth {
  color: $color-alabaster;
}

.isCurrentDate {
  background-color: $color-tea-green;
  border-radius: 100%;
  color: $color-onyx;
  padding: 8px;
}
