@import "../../../shared/themes/theme-default";

.dayInfoModal {
  &-container {
    align-items: center;
    background-color: $color-onyx;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    inset: 0;
    justify-content: flex-start;
    margin: auto;
    max-height: 450px;
    min-height: 300px;
    position: fixed;
    width: 500px;
    z-index: 9999;
  }

  &-closeButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-inline: auto;
    margin-top: 10px;
    width: 90%;
  }

  &-closeButton {
    all: unset;
    color: $color-alabaster;
    cursor: pointer;
    font-family: monospace;
    font-size: 25pt;
    transition: color 0.3s ease-in-out;
  }

  &-closeButton:hover {
    color: $color-tea-green;
  }

  &-header {
    color: $color-alabaster;
    text-align: center;
  }

  &-openAddEventModalButtonContainer {
    margin-top: 20px;
  }

  &-openAddEventModalButton {
    all: unset;
    align-items: center;
    background-color: $color-tea-green;
    border-radius: 25px;
    color: $color-onyx;
    cursor: pointer;
    display: flex;
    font-size: 16pt;
    justify-content: center;
    padding: 5px 15px;
    transition: background-color 0.3s ease-in-out;
  }

  &-openAddEventModalButton:hover {
    background-color: $color-tea-green-dark;
  }

  &-openAddEventModalButtonIcon {
    font-weight: 900;
    font-size: 20pt;
    margin-right: 5px;
  }

  &-eventsContainer {
    margin-block: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 80%;
  }

  &-eventsContainer::-webkit-scrollbar {
    display: none;
  }
}
