@import "../../shared/themes/theme-default";

.calendarView {
  &-container {
    background-color: $color-onyx;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(6, 2fr);
    height: 100%;
  }

  &-weekDay {
    align-self: center;
    color: $color-alabaster;
    justify-self: center;
  }

  &-date {
    color: $color-alabaster-dark;
    height: 100%;
    width: 100%;
  }
}
