@import "../../../shared/themes/theme-default";

.addEventModal {
  &-container {
    align-items: center;
    background-color: $color-onyx;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 650px;
    inset: 0;
    justify-content: flex-start;
    margin: auto;
    position: fixed;
    width: 500px;
    z-index: 9999;
  }

  &-closeButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-inline: auto;
    margin-top: 10px;
    width: 90%;
  }

  &-closeButton {
    all: unset;
    color: $color-alabaster;
    cursor: pointer;
    font-family: monospace;
    font-size: 25pt;
    transition: color 0.3s ease-in-out;
  }

  &-closeButton:hover {
    color: $color-tea-green;
  }

  &-header {
    color: $color-alabaster;
    text-align: center;
  }

  &-nameInputContainer,
  &-importanceInputContainer {
    display: flex;
    flex-direction: column;
  }

  &-nameInputLabel,
  &-importanceInputLabel {
    color: $color-alabaster;
    font-size: 16pt;
    margin-block: 20px 5px;
  }

  &-nameInputField,
  &-importanceInputOption,
  &-importanceInputField {
    font-size: 16pt;
  }

  &-importanceInputField {
    width: 274px;
  }
}
